<div class="login-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <router-link to="/" class="h1"><b>{{ $t("labels.admin") }}</b>{{ $t("labels.lte") }}</router-link>
        </div>
        <div class="card-body">
            <p class="login-box-msg">{{ $t("labels.signInToStart") }}</p>

            <form @submit.prevent="loginByAuth">
                <input
                    v-model="loginInput"
                    icon="envelope"
                    class="mb-3"
                    type="text"
                    placeholder="Login"
                   
                    
                   
                />
                <input
                    v-model="passwordInput"
                    icon="lock"
                    class="mb-3"
                    type="password"
                    placeholder="Password"
                   
                  
                />

                <div class="row">
                    <div class="col-7">
                    </div>
                    <div class="col-5">
                        <button
                            class="btn-primary"
                            type="submit"
                            block="true"
                            @click="sendLoginRequest"
                        >
                        Login In
                        </button>
                        <button
                            class="btn-primary"
                            type="submit"
                            block="true"
                            @click="sendRegRequest"
                        >
                        Register
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
